{% assign displayLink = true %}
{% assign hasNoLink = Model.Link | is_empty %}
{% if hasNoLink == true %}
    {% assign displayLink = false %}
{% endif %}
{% if CmsContext.IsInEditMode %}
    {% assign displayLink = false %}
{% endif %}

<div class="row align-items-center">
    <div class="col-sm-12 col-lg-6" {{ CmsHelpers.EditAttributes("Image") }}>
        <img class="pb-3 pb-lg-0" src="{{ Model.Image | url }}" />
    </div>
    <div class="col-sm-12 col-lg-6 text-lg-start">
        {% if displayLink %}
            <a href="{{ Model.Link | url }}" title="{{Model.Heading}}">
        {% endif %}
        
        <h2 {{ CmsHelpers.EditAttributes("Heading") }}>{{ Model.Heading }}</h2>
        <p {{ CmsHelpers.EditAttributes("Text") }}>{{ Model.Text }}</p>
        
        {% if displayLink %}
            </a> 
        {% endif %}
    </div>
</div>
